#############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

##############################
## Maven
##############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

##############################
## Gradle
##############################
bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## OS X
##############################
.DS_Store

##############################
## Extras
##############################
*.jpg
*.png

##############################
## Bootstrap
##############################
*.map
/src/main/java/resources/public/scss
/src/main/java/resources/public/libs/bootstrap/.*
/src/main/java/resources/public/libs/bootstrap/*.md
/src/main/java/resources/public/libs/bootstrap/*.json
/src/main/java/resources/public/libs/bootstrap/*.yml
/src/main/java/resources/public/libs/bootstrap/LICENSE
/src/main/java/resources/public/libs/bootstrap/package.js
/src/main/java/resources/public/libs/bootstrap/dist/css
/src/main/java/resources/public/libs/bootstrap/js
/src/main/java/resources/public/libs/bootstrap/nuget
/src/main/java/resources/public/libs/bootstrap/scss
/src/main/java/resources/public/libs/bootstrap/site

