<!DOCTYPE html>

<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/estilos.css">

    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>

    <title>Patitas, Home</title>
</head>

<body>
{{>navbar.hbs}}
<div class="container mt-4 justify-content-center table-bordered rounded bg-secondary shadow-lg border-radius">

    <h1 class="text-center pt-4">Informacion personal</h1>
    <p class="text-center mx-5 pt-4">Agregue su información personal para dejar registrado sus datos y si alguien
        reconoce a la mascota como suya o quiere adoptarla, puede ponerse en contacto contigo</p>

    <div class="row">

        <form class="col-8 m-4" action="/mascota-encontrada/rescatista/{{mascotaEncontrada.id}}" method="post">

            <div class="form-group row my-1">
                <label for="text" class="col-5 col-form-label">Nombre</label>
                <div class="col-7">
                    <div class="input-group">
                        <div class="input-group-text">
                            <i class="fa fa-address-card"></i>
                        </div>
                        <input id="text" name="nombre" type="text" required="required" class="form-control">
                    </div>
                </div>
            </div>

            <div class="form-group row my-1">
                <label for="text" class="col-5 col-form-label">Apellido</label>
                <div class="col-7">
                    <div class="input-group">
                        <div class="input-group-text">
                            <i class="fa fa-address-card"></i>
                        </div>
                        <input id="text" name="apellido" type="text" required="required" class="form-control">
                    </div>
                </div>
            </div>

            <div class="form-group row my-1">
                <label for="text" class="col-5 col-form-label">Tipo de documento</label>
                <div class="col-7">
                    <select class="form-select" aria-label="Default select example" name="tipoDoc">
                        <option selected>Open this select menu</option>
                        <option value="1">DNI</option>
                        <option value="2">PASAPORTE</option>
                        <option value="3">LC</option>
                    </select>
                </div>
            </div>

            <div class="form-group row my-1">
                <label for="text" class="col-5 col-form-label">Nro de documento</label>
                <div class="col-7">
                    <div class="input-group">
                        <div class="input-group-text">
                            <i class="fa fa-angle-right"></i>
                        </div>
                        <input id="text" name="nroDoc" type="text" required="required" class="form-control">
                    </div>
                </div>
            </div>

            <div class="form-group row my-1">
                <label for="text" class="col-5 col-form-label">Fecha de nacimiento</label>
                <div class="col-7">
                    <div class="input-group">
                        <div class="input-group-text">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input id="text" name="fechaNac" type="date" required="required" class="form-control">
                    </div>
                </div>
            </div>

            <div class="form-group row my-1">
                <label for="text" class="col-5 col-form-label">Email</label>
                <div class="col-7">
                    <div class="input-group">
                        <div class="input-group-text">
                            <i class="fa fa-inbox"></i>
                        </div>
                        <input id="text" name="email" type="email" required="required" class="form-control">
                    </div>
                </div>
            </div>

            <div class="form-group row my-1">
                <label for="text" class="col-5 col-form-label">Telefono</label>
                <div class="col-7">
                    <div class="input-group">
                        <div class="input-group-text">
                            <i class="fa fa-phone"></i>
                        </div>
                        <input id="text" name="telefono" type="tel" required="required" class="form-control">
                    </div>
                </div>
            </div>

            <div class="form-group row my-1">
                <label for="text" class="col-5 col-form-label">Formas de comunicación</label>
                <div class="col-7">
                    <div class="form-check form-check-inline">
                        <input name="checkEmail" id="checkbox_0" type="checkbox" class="form-check-input" value="Email">
                        <label for="checkbox_0" class="form-check-label">Email</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input name="checkWsp" id="checkbox_1" type="checkbox" class="form-check-input"
                               value="WhatsApp">
                        <label for="checkbox_1" class="form-check-label">WhatsApp</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input name="checkSms" id="checkbox_2" type="checkbox" class="form-check-input" value="Sms">
                        <label for="checkbox_2" class="form-check-label">Sms</label>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="form-group row">
        <div class="col-4"></div>
        <div class="col-4">
            <button name="submit" type="submit" class="btn btn-primary mt-1 mb-4 mx-4 rounded-pill">Finalizar</button>
            <button type="submit" onclick="goHome()" class="btn btn-danger rounded-pill mt-1 mb-4 mx-4">Cancelar</button>
        </div>
        <div class="col-4"></div>
    </div>
    </form>
</div>
</div>


<script>
    function goHome() {
        window.location.replace('/home');
        return false;
    }
</script>
<script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>

</body>

</html>