<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Revisarport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/estilos.css">
    <title>Publicaciones para aprobar</title>
</head>

<body>

    <section>
        <div class="container-fluid">

            <div class="row flex-nowrap">
                {{#if usuario}}
                    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                        {{>menu.hbs}}
                    </div>
                {{/if}}
                <div class="col px-0">
                    {{>navbar.hbs}}
                    <div class="card bg-secondary shadow-2-strong mt-2 mx-4" style="border-radius: 1rem;">
                        <div class="mb-md-2 mt-md-4 pb-1">
                            <h2 class="fw-bold mb-2 text-center">Publicaciones para aprobar</h2>
                            <div class="container" style="border-radius: 1rem;">
                                <div class="m-5">

                                    <div class="row container">

                                        <div class="col-3">

                                            <select class="form-select form-select-sm mb-3"
                                                aria-label=".form-select-lg example">
                                                <option selected>Edad</option>
                                                <option value="1">Cachorro</option>
                                                <option value="2">Adulto</option>
                                            </select>

                                        </div>
                                        <div class="col-3">
                                            <select class="form-select form-select-sm mb-3"
                                                aria-label=".form-select-lg example">
                                                <option selected>Sexo</option>
                                                <option value="1">Hembra</option>
                                                <option value="2">Macho</option>
                                            </select>
                                        </div>
                                        <div class="col-3">
                                            <select class="form-select form-select-sm mb-3"
                                                aria-label=".form-select-lg example">
                                                <option selected>Tipo</option>
                                                <option value="1">Perro</option>
                                                <option value="2">Gato</option>
                                            </select>
                                        </div>
                                        <div class="col-3">
                                            <select class="form-select form-select-sm mb-3"
                                                aria-label=".form-select-lg example">
                                                <option selected>Tipo de publicación</option>
                                                <option value="1">Publicación de adopcion</option>
                                                <option value="2">Publicación de mascota encontrada</option>
                                            </select>
                                        </div>

                                    </div>



                                    <div class="container">
                                        <div class="row row-cols-1 row-cols-md-3 g-2">
                                        {{#each publicacionesParaAprobar}}
                                            <div class="col-md col-sm-12">
                                                <div class="card box-shadow">
                                                    <img class="card-img-top" alt="Thumbnail [100%x160]"
                                                        style="height: 160px; width: 100%; display: block;"
                                                        src="https://www.ecestaticos.com/image/clipping/79776773aab795837282c7d4947abaf7/opening.jpg"
                                                        data-holder-rendered="true">
                                                    <div class="card-body">
                                                        <h5 class="card-title">{{titulo}}</h5>
                                                        <p>{{descripcion}}</p>
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <div class="btn-group">
                                                                <a href="/detalle-para-aprobar/{{id}}">
                                                                    <button type="button"
                                                                            class="btn btn-sm btn-primary rounded-pill px-2 text-secondary">Revisar</button></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {{/each}}


                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <nav aria-label="Page navigation example">
                                                    <ul class="pagination justify-content-center m-4">
                                                        <li class="page-item"><a class="page-link" href="#">Anterior</a>
                                                        </li>
                                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                        <li class="page-item"><a class="page-link"
                                                                href="#">Siguiente</a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>
